body {
	background-color: bccbde;
}

h1 {text-align: center;
}

#btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


#btn2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



